@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
$fontrubik: 'Rubik', sans-serif;
$black: #000;
$white: #fff;
$dark: hsl(0, 0%, 17%);
$gray: hsl(0, 0%, 59%);